# Dados e Delta Lake
data/
*.seq
_delta_log/
*.checkpoint.parquet

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
# Ambiente
.env

# Banco de dados
*.db

# Egg info
persistencia_2026_1.egg-info/

# Hello
hello.py
